.pane {
    -fx-background-color: #393c3e;
}

.grid {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.label {
    -fx-background-color: #1d1d1d;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #2b2b2b;
    -fx-control-inner-background: #4b4e50;
    -fx-background-color: #2b2b2b;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #bcc6cd;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.list-view {
    -fx-base: #3c3f41;
    -fx-control-inner-background: #616568;
    -fx-background-color: #3c3f41;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-border-width: 2;
    -fx-border-color: #465259;
}

.list-view .column-header-background {
    -fx-background-color: transparent;
}

.list-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.list-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #bcc6cd;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.list-view:focused {
    -fx-border-color: #ba6b5d;
    -fx-border-width: 3, 3;
    -fx-border-radius: 0, 0;
}

.list-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}


.context-menu {
    -fx-background-color: derive(#313335,50%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #bcc6cd;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #2d2f30;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #545f66;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #bcc6cd;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #bcc6cd;
    -fx-text-fill: #2b2b2b;
}

.button:focused {
    -fx-border-color: #da8b7d;
    -fx-border-width: 3, 3;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #2d2f30;
    -fx-text-fill: #bcc6cd;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #3c3f41;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.choice-box {
    -fx-border-color: #939ea5;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #bcc6cd;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.choice-box .label {
    -fx-alignment: center;
    -fx-font-size: 11;
}